@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    padding: 10px;
    display: inline;
    margin-right: 20px;
    
}
.navigation li a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.beranda {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

.beranda h2, .beranda p {
    padding: 12px;
    max-width:40rem ;
    line-height: 1.4;
    color: #fff;
}

.about {
    padding: 50px;
}

.about aside {
    display: flex;
}

.about img {
    width: 40%;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 50rem;
}

footer {
    padding: 20px;
    text-align: center;
    color: #000;
    background-color: slategray;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-evenly
    }

    .hamburger {
        display: block;
    }

    .navigation {
        display: none;
        flex-direction: column;
        background-color: slategray;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .navigation.active {
        display: flex;
    }

    .navigation li {
        margin: 10px 0;
        text-align: center;
    }

    .about aside{
        display: block;
    }

    .about{
        display: flex;
        justify-content: center;
        align-items: center;
    }

        aside {
            text-align: center;
            /* Pusat teks secara horizontal jika diperlukan */
        }

}